@page "/enter"

@using WillsParkingLot.Enums;
@using WillsParkingLot.Models;
@using WillsParkingLot.Services;

@inject ParkingService _parkingService;

<h2>Check In Vehicle</h2>

<div class="container">
    <EditForm Model="@car" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="txtLicensePlate">LicensePlate</label>
            <InputText @bind-Value=car.LicensePlate class="form-control" id="txtLicensePlate" />
        </div>
        <div class="form-group">
            <label for="txtModel">Model</label>
            <InputText @bind-Value=car.Model class="form-control" id="txtModel" />
        </div>
        <div class="form-group">
            <label for="txtColor">Color</label>
            <InputText @bind-Value=car.Color class="form-control" id="txtColor" />
        </div>
        <div class="form-group">
            <label for="ddlType">Type</label>
            <InputSelect @bind-Value=car.Type class="form-control" id="ddlType">
                @foreach (var carType in Enum.GetValues(typeof(CarType)))
                {
                    <option value="@carType">@carType</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn-primary" value="Confirm" />
            </div>
        </div>
    </EditForm>
</div>

@code {

    Car car = new Car();

    private void HandleValidSubmit()
    {
        _parkingService.CheckInCar(car);
        car = new Car();
    }
}
